<%= form_for(@movie, url: movie_path(@movie.id)) do |f| %>
<ul>
  <li>Title:<%= f.text_field :title %></li>
  <li>Director: <%= f.text_field :director %></li>
  <li>Description: <%= f.text_field :description %></li>
</ul>
  <%= f.submit%>
<% end %>
