<%= form_for @album do |f| %>
<ul>
  <li>Title: <%= f.text_field :title %></li>
  <li>Aritst: <%= f.text_field :artist %></li>
  <li>Description: <%= f.text_field :description %></li>
</ul>
  <%= f.submit %>
<% end %>
