<div class="container">
<h1> <%= @album.title %> <small>by <%= @album.artist %></small></h1>
<ul>
  <li>Ranked: <%= @album.vote%></li>
  <li><%= @album.description%></li>
  <li><%= button_to 'Upvote', upvote_album_path(@album.id) %></li>
  <li><%= link_to 'Edit', edit_album_path(@album.id) %></li>
  <li><%= button_to 'Delete', album_path(@album.id), data: {confirm: 'Are you sure'}, method: :delete %></li>
  <li><%= link_to 'View all albums', albums_path %></li>
  <li><%= link_to 'View all media', root_path %></li>
</ul>
</div>
